### importing libraries 
### importing data set

In [1]:

import pandas as pd
df=pd.read_csv('mldatafram.csv')
df.head(10)

   age   height  weight  gender likeness
0   27  170.688    76.0    Male  Biryani
1   41  165.000    70.0    Male  Biryani
2   29  171.000    80.0    Male  Biryani
3   27  173.000   102.0    Male  Biryani
4   29  164.000    67.0    Male  Biryani
5   28  174.000    46.0  Female  Biryani
6   27  151.000    64.3  Female  Biryani
7   34  176.500    98.0    Male  Biryani
8   32  181.000    87.5    Male  Biryani
9   22  184.500    80.0    Male  Biryani

### Converting the catagorical variables into dummy variables

In [2]:
df['gender']=df['gender'].replace('Male',1)
df['gender']=df['gender'].replace('Female',0)

### Selecting particular colums for datya analysisi 
### seprating independent and depoendent variable

In [3]:

# Selecting input and output variables
x=df[['weight','gender','age','height']]
y=df['likeness']

### modele selection according to our data and requriment

In [4]:

from sklearn.tree import DecisionTreeClassifier
# creat and fit model 
model=DecisionTreeClassifier().fit(x,y)
model
# pridection 
##model.predict([[31,1]])
model.predict([[31,1,60,1]])

C:\Users\abdur\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Pakora'], dtype=object)