In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df=sns.load_dataset("iris")


df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
new_df=df["species"].replace(["setosa","versicolor","virginica"],[0,1,2])

In [5]:
y=new_df

In [6]:
from sklearn.tree import DecisionTreeClassifier
x=df.iloc[:,:-1]

In [7]:
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [8]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [9]:
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
 
# fit the regressor with x and y data
regressor.fit(x, y)

RandomForestRegressor(random_state=0)

In [10]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=100)
model.fit(x,y)
model.predict([[5.1,3.5,1.4,0.2]])

C:\Users\abdur\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([0.])

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [17]:
prediction=model.predict(x_test)
prediction

array([2.  , 2.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 1.  ,
       1.  , 1.  , 1.84, 1.  , 0.  , 0.  , 0.  , 0.  , 2.  , 2.  , 1.02,
       2.  , 2.  , 1.  , 0.  , 1.  , 1.  , 0.  , 2.  ])

In [18]:
# accuracy score 
score=model.score(x_test,y_test)
print("the accuracy score is :",score)

the accuracy score is : 0.9987107438016529